import org.cloudifysource.utilitydomain.context.ServiceContextFactory

println "postStart.groovy : starting postStart script"

def context = ServiceContextFactory.getServiceContext()

$creatingEvent
def volumeId = $getVolumeIdCommand
$createdEvent
$startingEvent
println "Storage volume: volumeId <${volumeId}>, device <$device>, path <$path>"
println "attaching storage volume... "
context.storage.attachVolume(volumeId, "$device")
#if($formatVolumeCommand)

println "formating the storage volume... "
$formatVolumeCommand
#end

println "mounting storage volume... "
context.storage.mount("$device", "$path")

context.attributes.thisInstance.volumeId = volumeId 
context.attributes.thisInstance.device = "$device"
context.attributes.thisInstance.path = "$path"
$startedEvent