import org.cloudifysource.utilitydomain.context.ServiceContextFactory

def context = ServiceContextFactory.getServiceContext()
if(volumeId == null || volumeId.trim().isEmpty()){
	if(!storageTemplate || storageTemplate.trim().isEmpty()){
		throw new IllegalArgumentException("A storage template Id is expected!")
	}
	log.info "Creating a volume using the storage template <${storageTemplate}>..."
	volumeId = context.storage.createVolume(storageTemplate)
	context.attributes.thisInstance.formatVolume = true;
	log.info "volume created!"
}

log.info "Storage volume: volumeId <${volumeId}>, device <${device}>"

log.info "attaching storage volume <${volumeId}> to <${device}>... "
context.storage.attachVolume(volumeId, device)
log.info "volume attached!"

return [volumeId: volumeId, device: device]
