import org.cloudifysource.utilitydomain.context.ServiceContextFactory


def context = ServiceContextFactory.getServiceContext()
$stoppingEvent
context.storage.unmount(context.attributes.thisInstance.storageDevice)
context.storage.detachVolume(context.attributes.thisInstance.volumeId) 
$stoppedEvent