import org.cloudifysource.utilitydomain.context.ServiceContextFactory

def context = ServiceContextFactory.getServiceContext()
context.storage.unmount(context.attributes.thisInstance.device)
context.storage.detachVolume(context.attributes.thisInstance.volumeId) 
