import org.cloudifysource.utilitydomain.context.ServiceContextFactory

println "startupBlockStorage.groovy : starting startupBlockStorage script"

def context = ServiceContextFactory.getServiceContext()

def createResult = $createCommand
if(createResult == null || !createResult.volumeId || !createResult.device){
		throw new IllegalStateException("The volume creation script must return a map [\"volumeId\": volumeId, \"device\":device ]containing the created volumeId and the attached device name.")
}
def volumeId = createResult.volumeId
def device = createResult.device
$createdEvent

def configureResult = $configureCommand
if(configureResult == null ){
		throw new IllegalStateException("The volume configuring script must return the mounted path of the volume, \"storagePath\".")
}
$configuredEvent

println "Storage volume: volumeId <${volumeId}>, device <${device}>, path <${configureResult}>"
context.attributes.thisInstance.volumeId = volumeId 
context.attributes.thisInstance.storageDevice = device
context.attributes.thisInstance.storagePath = configureResult
$startedEvent

println "startupBlockStorage.groovy : startupBlockStorage script  End"