import org.cloudifysource.utilitydomain.context.ServiceContextFactory

println "service_script : starting $scriptLifecycle script"

def context = ServiceContextFactory.getServiceContext()
def passed = $detectionCommand
println "Global start detection result is: ${passed}!"
if( passed ){
  context.attributes.thisInstance.restart = false
  System.exit(0)
} else {
  System.exit(-1)
}