import org.cloudifysource.utilitydomain.context.ServiceContextFactory

log.info "unmountDeleteStorage.groovy : starting unmountDeleteStorage <$storageId> script"
def context = ServiceContextFactory.getServiceContext()

if(volumeId==null || device==null){
  log.info "<$storageId>: A volume Id or a storage device is expected!... doing nothing"
  return;
}

log.info "Storage volume <$storageId>: volumeId <${volumeId}>, device <${device}>"
log.info "<$storageId> - unmounting storage volume... "
context.storage.unmount(device)
log.info "<$storageId> - shutdownBlockStorage : detaching storage volume... "
context.storage.detachVolume(volumeId) 
#if($deletable == true)
log.info "<$storageId> - deleting storage volume... "
context.storage.deleteVolume(volumeId);
#end